{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Imbuto Edu{% endblock %}</title>

    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

</head>

<body>

<header class="navbar">

    <div class="logo">

        <h2>Imbuto Edu</h2>

    </div>

    <nav>

        <ul>

            <li><a href="{% url 'home' %}">Home</a></li>

            <li><a href="{% url 'schools_page' %}">Schools</a></li>

            <li><a href="{% url 'top_schools' %}">Top Schools</a></li>

            <li><a href="{% url 'sports' %}">Sports</a></li>

            <li><a href="{% url 'competitions' %}">Competitions</a></li>

            <li><a href="{% url 'careers' %}">Careers & TVET</a></li>

        </ul>

    </nav>

</header>


{% block content %}

{% endblock %}


<footer>

    <div class="footer-content">

        <div>

            <h3>Imbuto Edu</h3>

            <p>Plant Your Future</p>

        </div>

        <div>

            <h4>Quick Links</h4>

            <p><a href="{% url 'home' %}">Home</a></p>

            <p><a href="{% url 'schools_page' %}">Schools</a></p>

            <p><a href="{% url 'top_schools' %}">Top Schools</a></p>

        </div>

        <div>

            <h4>Contact</h4>

            <p>Kigali, Rwanda</p>

            <p>info@imbutoedu.rw</p>

        </div>

    </div>

    <hr>

    <p class="copyright">

        © 2026 Imbuto Edu. All Rights Reserved.

    </p>

</footer>

</body>

</html>