{% extends 'base.html' %}
{% load static %}

{% block title %}
Explore Schools | Imbuto Edu
{% endblock %}

{% block content %}

<section class="explore-header">

    <p class="eyebrow">
        EXPLORE EDUCATION
    </p>

    <h1>
        Find the Right School
    </h1>

    <p>
        Search and explore schools across Rwanda.
    </p>

</section>


<section class="school-filters">

    <form method="GET">


        <!-- SEARCH -->

        <input
            type="text"
            name="search"
            value="{{ search }}"
            placeholder="Search school name..."
        >


        <!-- DISTRICT -->

        <select name="district">

            <option value="">
                All Districts
            </option>

            {% for item in districts %}

                <option
                    value="{{ item }}"
                    {% if district == item %}
                        selected
                    {% endif %}
                >

                    {{ item }}

                </option>

            {% endfor %}

        </select>


        <!-- SCHOOL TYPE -->

        <select name="school_type">

            <option value="">
                All School Types
            </option>

            {% for item in school_types %}

                <option
                    value="{{ item }}"
                    {% if school_type == item %}
                        selected
                    {% endif %}
                >

                    {{ item }}

                </option>

            {% endfor %}

        </select>


        <!-- OWNERSHIP -->

        <select name="ownership">

            <option value="">
                All Ownership
            </option>

            {% for item in ownerships %}

                <option
                    value="{{ item }}"
                    {% if ownership == item %}
                        selected
                    {% endif %}
                >

                    {{ item }}

                </option>

            {% endfor %}

        </select>


        <button type="submit">

            Search Schools

        </button>

    </form>

</section>


<section class="explore-schools">
    <p class="compare-instruction">

    Select up to <strong>2 schools</strong> to compare.

</p>

    <form method="GET" action="{% url 'compare_schools' %}">

        <div class="school-grid">


        {% for school in schools %}


        <article class="school-card">


            {% if school.image %}

                <img
                    src="{{ school.image.url }}"
                    alt="{{ school.name }}"
                    class="school-card-image"
                >

            {% endif %}


            <div class="school-card-content">


                <span class="school-badge">

                    {{ school.school_type }}

                </span>


                <h3>

                    {{ school.name }}

                </h3>


                <p class="school-location">

                    📍 {{ school.district }},
                    {{ school.province }}

                </p>


                <p class="school-description">

                    {{ school.description|truncatewords:25 }}

                </p>


                <div class="school-card-footer">


                    <span>

                        {{ school.ownership }}

                    </span>
                    <label class="compare-option">

    <input
        type="checkbox"
        name="compare"
        value="{{ school.id }}"
    >

    Compare

</label>


                    <a
                        href="{% url 'school_detail' school.id %}"
                    >

                        View Profile →

                    </a>


                </div>


            </div>


        </article>


        {% empty %}


        <div class="empty-schools">

            <h3>
                No schools found
            </h3>

            <p>
                Try changing your search filters.
            </p>

        </div>


        {% endfor %}


            </div>


        <div class="compare-action">

            <button
                type="submit"
                class="cta-button"
            >

                Compare Selected Schools

            </button>

        </div>

    </form>

</section>

{% endblock %}